* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background: #020e26;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 96px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 48px;
}
button {
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 24px;
  background-color: #3bd9d9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
